.wrapContainer {
  background-color: white !important;
  width: 98%;
  margin: 0 auto;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: auto auto auto auto;
  border: 1px solid var(--dark-transparent);
  border-radius: 12px;
  padding: 16px;
  gap: 8px 28px;
}

.wrapContainerImage {
  background-color: white !important;
  width: 98%;
  margin: 0 auto;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 15% 15% auto auto auto;
  grid-template-rows: repeat(2, 1fr);
  border: 1px solid var(--dark-transparent);
  border-radius: 12px;
  padding: 16px;
  gap: 8px 28px;
}

.fieldSpanAll {
  grid-row: 1/-1;
  grid-column: 2 span;
}

.wrapFields {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  flex-direction: column;
  text-align: left;
}

.wrapTittles {
  width: 100%;
  font-weight: bold;
  border-bottom: 1.5px solid var(--dark-transparent);
}

/* Pantalla de creación y edición de recetas */
.crudRecContainer {
  width: 98%;
  margin: 0 auto;
  display: flex;
  gap: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.crudRecContainer form {
  display: grid;
  grid-template-columns: 25% auto;
  grid-template-rows: auto auto auto;
  gap: 4px;
}

.crudRecContainer figure {
  position: relative;
  width: 99%;
  height: 100%;
}

.crudRecContainer figure img {
  object-fit: contain;
}

.addButton {
  width: auto;
}

.returnButton {
  position: fixed;
  top: 45px;
  right: 35px;
  z-index: 3;
  background: var(--tittles-hk);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  scale: 1.2;
  transition: all ease 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.returnButton:hover {
  background: white;
}

.buttonAddItems {
  border: 1px solid var(--background-hk2);
  padding: 4px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: all ease 0.2s;
  background: var(--save-button);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 4px;
}

.buttonAddItems:hover {
  border-radius: 0;
  background: var(--save-button-hover);
  color: var(--dark);
}

.buttonAddItems:active {
  scale: 0.9;
}

.buttonTotaliza {
  position: absolute;
  bottom: 15px;
  right: 20px;
  background: #21c063;
  width: 200px;
  font-size: var(--font-xl);
}

.buttonAddItems svg {
  color: white;
}

.buttonAddItems:hover svg {
  color: var(--save-button);
}

.modalDimensiones {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 5;
  background: var(--dark);
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: calc(100vh - 54px);
  overflow: auto;
  padding-top: 16px;
}

.modalDimenImage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modalDimenForm {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 4px;
}

.modalDimenForm span {
  border: 1px solid white;
  width: 40%;
  padding: 4px;
  display: grid;
  grid-template-columns: 60% 40%;
  margin: 1px;
}

.modalDimenForm span label {
  color: var(--tittles-hk);
  font-weight: bold;
}

.modalDimenForm span input {
  padding: 2px;
  border-radius: 5px;
  outline-color: var(--tittles-hk);
  border: 1px solid var(--subtittles-hk);
  color: var(--background-hk);
  text-align: right;
}

.modalDimenForm span input:hover {
  border-radius: 0;
}

.modalDimenForm span input:focus {
  border-radius: 0;
  background: #dbe2e8;
}

.containerCalculos {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  grid-column: 1/-1;
  padding: 2px;
  margin: 8px;
  margin-bottom: 16px;
}

.containerCalculos h3 {
  background: var(--tittles-hk);
  color: var(--dark);
  width: 100%;
  text-align: center;
}

.tableValuesTitle,
.tableValuesCalc {
  display: grid;
  grid-template-columns: 30% 15% repeat(4, 13%);
  width: 100%;
  align-items: center;
  border-bottom: 1px solid white;
  text-align: center;
  padding: 2px;
}

.tableValuesTitle {
  border: 1px solid var(--subtittles-hk);
  color: var(--subtittles-hk);
  font-weight: bold;
}

.modalSaveCotiza {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.confirmSaveCotiza {
  background: var(--acept-button);
  width: 45%;
  padding: 8px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  text-align: center;
  box-shadow: inset 0 -3px 7px 2px var(--dark);
}

.confirmSaveCotiza button {
  height: 44px !important;
  width: 44px !important;
  border: 2px solid #1a73e8 !important;
  cursor: pointer;
  background: #e3f7dbf8 !important;
  transition: all 0.2s ease;
}

.confirmSaveCotiza b {
  /* color: #1a73e8; */
  color: white;
  font-weight: 400;
  font-size: var(--font-xl);
}

.confirmSaveCotiza button:hover {
  background: var(--background-hk2) !important;
}

.confirmSaveCotiza svg {
  scale: 0.7 !important;
}
.saveButton svg {
  color: var(--save-button) !important;
}

.saveButton:hover svg {
  color: var(--save-button-hover) !important;
}

#returnButton svg {
  color: var(--cancel-alert) !important;
}

#returnButton:hover svg {
  color: var(--delete-alert) !important;
}

.detalleRecContainer {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  grid-template-columns: 1fr;
}

.setFabricacion h4 {
  background: var(--button-color-hk);
  color: var(--tittles-hk);
  padding: 4px;
}

.setFabricacion h5 {
  margin: 4px;
}

.componentes {
  color: var(--dark);
  display: grid;
  grid-template-columns: 30% 10% 30% 10% 20%;
  justify-content: center;
  align-items: center;
  font-size: var(--font-nm);
  margin: 4px;
}
.componDimensiones {
  display: flex;
  flex-wrap: wrap;
  gap: 2px 4px;
  font-size: var(--font-nm);
}

.componDimensiones i::after {
  content: " - ";
}

.componDimensiones i:last-child::after {
  content: "";
}

.componentesHeader {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.componenteIcons {
  display: flex;
  gap: 0 4px;
}

.componenteEdit,
.componenteDelete {
  cursor: pointer;
  margin: 0 12px;
  background: transparent;
  border: none;
}

.componenteDelete svg:hover {
  color: var(--delete-alert);
}

.updateButton {
  transform: scale(1) !important;
}

.formulaButton {
  border: 1px solid var(--button-color-hk);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  padding: 2px;
  margin: 4px 8px;
  font-size: 0.8em;
  font-weight: bold;
  color: var(--subtittles-hk);
  /* word-break: break-word; */
  background: transparent;
  /*Las siguientes lineas sirven para ocultar el texto a una solo línea si no cabe*/
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.formulaButton:hover {
  background: var(--background-hk2);
}

.formulaContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: var(--font-nm);
}

.formulaContainer b {
  font-weight: 700;
  font-size: 0.9em;
}

/* RESPONSIVE DESIGN */
/* Tablet  */
@media screen and (max-width: 768px) {
  .wrapContainer {
    grid-template-columns: auto auto auto;
    padding: 8px;
    gap: 8px 16px;
  }

  .wrapContainerImage {
    grid-template-columns: repeat(2, 25%) auto auto;
    grid-template-rows: repeat(3, 1fr);
    padding: 8px;
    gap: 8px 16px;
  }

  .fieldSpanAll {
    grid-column: 2 span;
  }

  .crudRecContainer {
    width: 95%;
  }

  .componentes {
    grid-template-columns: 41% 17% 39%;
    padding: 2px;
    gap: 8px;
    border-bottom: 1px solid var(--dark-transparent);
  }

  .componentes b {
    text-align: center;
  }

  .formulaContainer {
    grid-column: 2 span;
  }

  .formulaButton {
    height: 70%;
  }
}

/* Mobile  Normal*/
@media screen and (max-width: 480px) {
  .wrapContainer {
    grid-template-columns: auto auto auto;
    border-radius: 8px;
    padding: 8px;
    gap: 8px 12px;
  }

  .wrapContainerImage {
    grid-template-columns: repeat(3, 31%);
    border-radius: 8px;
    padding: 8px;
    gap: 8px 12px;
  }

  .fieldSpanAll {
    grid-row: 1/-1;
    grid-column: 1/-1;
  }

  .crudRecContainer {
    width: 98%;
    gap: 4px;
    flex-direction: column;
  }

  .crudRecContainer form {
    display: grid;
    grid-template-columns: auto;
  }
}
/* Mobile  Small*/
@media screen and (max-width: 320px) {
  /**/
}
