:root {
  --white: #ffffff;
  --white-resalt-hk: #d0cfd2;
  --background-hk: #100f1c;
  --background-hk2: #292d34;
  --black-hk: #0a0a0a;
  --letters-hk: #dbe2e8;
  --letters-hk2: #afb2d5;
  --tittles-hk: #ffc870;
  --subtittles-hk: #dbc291;
  --dark: #232830;
  --dark-transparent: rgba(25, 33, 43, 0.5);
  --save-button: #1a73e8;
  /* --delete-alert: rgb(155, 32, 32); */
  --delete-alert: rgb(228, 59, 59);
  --background-rows: rgb(247, 247, 247);
  /* BOTONES */
  --button-color-hk: #555fc2;
  --button-color-hk-hover: #444a8d;
  /* FUENTES */
  --font-sm: 10px;
  --font-nm: 12px;
  --font-md: 16px;
  --font-xl: 20px;
  --font-xxl: 28px;
  /* GRIDS */
  --grid-column-items: 13% repeat(2, 30%) 10% 10%;
  --grid-column-items-modal: 15% repeat(2, 30%) 20%;
  --grid-column-items-col2-modal: 60% 35%;
  --grid-column-items-tablet: 13% repeat(2, 30%) 10% 15%;
  --grid-column-items-mobile: 13% repeat(2, 31%) 25%;
  --grid-column-mobile5: 13% 25% 20% 29% 10%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: var(--background-hk2);
  color: var(--letters-hk);
  font-family: "Inter", sans-serif;
  height: 100%;
}

h1,
h2 {
  color: var(--tittles-hk);
}

h3,
h4,
h5,
h6 {
  color: var(--subtittles-hk);
  word-break: break-word;
}

h6 {
  font-size: 0.8em;
}

header {
  background: var(--background-hk);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 8px 4px 4px 4px;
  margin: 0 0 4px 0;
}

header svg {
  cursor: pointer;
}

nav,
ul {
  margin: 0;
  border: 0;
  list-style: none;
}

table {
  word-break: break-all;
}

table thead,
table tfoot {
  word-break: normal;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

a {
  color: inherit;
  text-decoration: none;
}

svg {
  color: var(--button-color-hk);
  width: 32px;
  height: 32px;
  transition: all 0.2s ease;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

/*Change text in autofill textbox*/
/* input:-webkit-autofill {
  -webkit-text-fill-color: yellow !important;
} */

/* Barra de busqueda */

.search_container {
  width: 90%;
  height: 10%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.icon_search {
  font-size: 2em;
  color: var(--tittles-hk);
}

.search_bar {
  height: 30px;
  width: 90%;
  border-radius: 8px;
  border-style: none;
  outline: none;
  background: var(--white);
  padding: 5px;
  box-shadow: 0px 1px 1px 0px var(--dark-transparent);
  font-size: 1.05em;
  transition: 0.2s ease;
  color: var(--background-hk);
}

.search_bar:hover {
  border-radius: 0;
}

/* Contenedores principales */

.mainContainer {
  display: flex;
  width: 100%;
  margin: 0;
  position: relative;
  height: 100vh;
  align-items: flex-start;
}

.generalContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 95%;
  margin: 0 auto;
  position: relative;
}

.generalTitle {
  color: var(--tittles-hk);
  font-weight: bold;
  font-size: var(--font-md);
  border-bottom: 2px solid var(--dark-transparent);
  text-align: center;
}

/* h1 {
  color: var(--general-title);
  font-weight: bold;
  font-size: var(--lg);
  text-align: center;
} */

.generalContainerDetails {
  width: 100%;
  text-align: center;
  font-size: var(--font-nm);
}

.generalContainerDetails > div:nth-of-type(odd) {
  background-color: var(--background-rows);
}

.item_grid {
  display: grid;
  grid-template-columns: var(--grid-column-items);
  width: 100%;
  padding: 4px 0;
  gap: 4px;
  justify-content: center;
  align-items: center;
  word-break: break-all;
}

.item_detail {
  border-bottom: 1px solid var(--dark-transparent);
  background: var(--white);
  color: var(--background-hk);
  transition: all 0.2s ease;
}

.item_detail:hover {
  box-shadow: inset 3px -2px 4px 0px var(--dark-transparent);
}

/* iconos en general */
.icons-container {
  /* font-size: 28px; */
  color: var(--button-color-hk);
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.icons-container button {
  background: none;
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease 0.2s;
  cursor: pointer;
  position: relative;
}

.icons-container svg {
  cursor: pointer;
}

svg:hover {
  color: var(--tittles-hk);
  font-weight: bold;
}

svg:active {
  transform: scale(1.1);
}

.closeModal {
  position: absolute;
  right: -18px;
  top: 44px;
  background: var(--tittles-hk);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  scale: 1.2;
  transition: all ease 0.2s;
}

.closeModal:hover {
  background: white;
}

.delete svg {
  color: var(--delete-alert);
}

.delete svg:hover {
  color: red;
}

/* Si el contenedor es un botón se usa #iconAddContainer */
#iconAddContainer {
  position: fixed;
  background: transparent;
  border: none;
  left: 3%;
  bottom: 5px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
  opacity: 1;
}

#iconAdd {
  color: var(--button-color-hk-hover);
  width: 50px;
  height: 50px;
  background: var(--tittles-hk);
  transition: all 0.2s ease;
  position: fixed;
  left: 3%;
  bottom: 5px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
  opacity: 0.8;
}

#iconAdd:hover {
  transform: scale(1.1);
  color: var(--tittles-hk);
  background: var(--white);
}

.showElement {
  display: none;
}

/* Estilos ventana de items para añadir receta */
.modal {
  display: flex;
  justify-content: center;
  position: absolute;
  padding-top: 8px;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 0 auto;
  background: var(--dark-transparent);
  backdrop-filter: blur(8px);
  width: 99vw;
  height: 100vh;
  z-index: 3;
}

.modal .generalContainer {
  width: 60%;
}

.modalSelectCompon {
  justify-content: space-around;
}

.modalSelectCompon .generalContainer {
  width: 40%;
}

.modalFormulas .generalContainer {
  width: 65%;
}

.item_receta_grid {
  display: grid;
  grid-template-columns: var(--grid-column-items-modal);
  width: 100%;
  padding: 4px 0;
  gap: 4px;
  justify-content: center;
  align-items: center;
  word-break: break-all;
}

.modalSelectCompon .closeModal {
  right: -26px;
  top: 3px;
  z-index: 10;
}

/* estilo ventanas de componentes para añadir a receta y sets de fabricación */
.item_compon_grid {
  display: grid;
  grid-template-columns: var(--grid-column-items-col2-modal);
  width: 100%;
  padding: 4px 0;
  gap: 4px;
  justify-content: center;
  align-items: center;
  word-break: break-word;
  text-align: start;
}

/*Estilos para imagenes Next*/

.imageSmall {
  position: relative;
  width: 100px;
  height: 50px;
  justify-self: center;
  cursor: pointer;
}

.imageSmall img {
  object-fit: contain;
}

.imageBig {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  box-shadow: 0 0 8px 6px var(--letters-hk);
  cursor: pointer;
}

/* notificaciones */

.toasterDelete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.toasterDelete svg {
  color: var(--delete-alert);
  scale: 1.2;
}

.toasterButtons {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin-top: 8px;
}

.toasterButtons button {
  width: 40px;
  height: 40px;
  padding: 2px;
  font-size: large;
  border-radius: 4px;
  background: transparent;
  border: 1px solid var(--button-color-hk);
  cursor: pointer;
}

.toasterButtons button:hover {
  background-color: var(--button-color-hk-hover);
  color: white;
}

/* RESPONSIVE DESIGN */
@media screen and (max-width: 768px) {
  /* Tablet  */
  .search_container {
    width: 99%;
    margin: 0;
  }

  .search_container svg {
    width: 24px;
    height: 24px;
  }

  .search_bar {
    width: 98%;
    border-radius: 4px;
    padding: 3px;
    font-size: 0.7em;
    transition: 0.2s ease;
    color: var(--background-hk);
  }

  #iconAdd {
    width: 55px;
    height: 55px;
  }

  .item_grid {
    grid-template-columns: var(--grid-column-items-tablet);
    padding: 2px 0;
    gap: 3px;
  }

  .modal .generalContainer {
    width: 70%;
  }

  .modalSelectCompon {
    justify-content: space-between;
  }

  .modalSelectCompon .generalContainer {
    width: 50% !important;
    margin: 0;
  }

  .modalFormulas .generalContainer {
    width: 85% !important;
    margin: 0 auto;
  }

  .modalFormulas h3 {
    font-size: 1em;
    margin-bottom: 8px;
  }

  .item_compon_grid {
    justify-content: flex-start;
    font-size: 0.8em;
  }
}

/* Mobile  Normal*/
@media screen and (max-width: 480px) {
  .search_container svg {
    width: 20px;
    height: 20px;
  }

  .generalTitle {
    font-size: var(--font-nm);
  }

  .item_grid {
    grid-template-columns: var(--grid-column-items-mobile);
  }

  .item_grid_m5 {
    grid-template-columns: var(--grid-column-mobile5);
  }

  .icons-container {
    justify-content: space-evenly;
    gap: 5px;
  }

  .hideElement {
    display: none;
  }

  .item_detail {
    font-size: var(--font-sm);
  }

  .modal .generalContainer {
    width: 80%;
  }

  .delete {
    justify-content: flex-end;
  }

  .imageBig {
    top: 0;
    left: -20%;
    width: 200%;
  }

  .item_compon_grid {
    grid-template-columns: auto;
  }
}
/* Mobile  Small*/
@media screen and (max-width: 320px) {
  svg {
    width: 30px;
    height: 30px;
  }
}
