/* Estilos principales para wrap de detalle 
de cada registro para  pantallas principales para cada módulo */

/* Estilos pantalla de productos */

.itemWrapContainer {
  background-color: white;
  width: 98%;
  margin: 0 auto;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: auto auto auto auto;
  border: 1px solid var(--dark-transparent);
  border-radius: 12px;
  padding: 12px;
  gap: 8px 28px;
}

.itemWrapContainerImage {
  background-color: white;
  width: 98%;
  margin: 0 auto;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 15% 15% auto auto auto;
  grid-template-rows: repeat(2, 1fr);
  border: 1px solid var(--dark-transparent);
  border-radius: 12px;
  padding: 16px;
  gap: 8px 28px;
  align-items: center;
}

/* .itemWrapContainer span:nth-of-type(2) {
  grid-column: 3 span;
} */

.fieldSpanAll {
  grid-row: 1/-1;
  grid-column: 2 span;
}

.itemWrapFields {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  flex-direction: column;
  text-align: left;
}

.itemWrapTittles {
  width: 100%;
  font-weight: bold;
  border-bottom: 1.5px solid var(--dark-transparent);
}

/* .itemWrapFields p {
  font-size: var(--sm);
} */

.itemImage {
  position: relative;
  width: 100%;
  height: 200px;
}

/* FINAL Estilos pantalla de productos */
/* ---------------------------- */
/* Estilos pantalla de recetas */

.recetaWrapContainer {
  width: 98%;
  margin: 0 auto;
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.recetaWrapContainer h2 {
  width: 100%;
  border-bottom: 1px solid var(--dark-transparent);
}

.recetaWrapContainer h3 {
  background: var(--button-color-hk);
  color: var(--tittles-hk);
  padding: 4px;
}

.recetaWrapContainer h4 {
  font-size: 1.1em;
  font-style: italic;
  padding: 4px;
}

.recetaWrapContainer span {
  width: 100%;
  border: 0.5px solid var(--dark-transparent);
}

.recetaWrapFields {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: flex-start;
  align-items: baseline;
}

.recetaWrapFields h3 {
  grid-column: 1 / -1;
}

.recetaWrapTable {
  display: grid;
  grid-template-columns: 100%;
  height: 45px;
  align-items: center;
}

.recetaWrapTable b {
  color: var(--subtittles-hk);
}

/*Para listado de productos en cada cotización en vista rápida*/

.productDetails {
  display: grid;
  grid-template-columns: 25% repeat(2, 9%) repeat(3, 13%);
  width: 100%;
  align-items: center;
  justify-content: space-around;
  text-align: end;
  border-bottom: 1px solid #396947;
  margin: 4px 0;
  padding: 2px;
}

.productDetails h4:first-child,
.productDetails span:first-child {
  text-align: start;
}

.productDetails h4 {
  color: #396947;
}

/* RESPONSIVE DESIGN */
/* Tablet  */
@media screen and (max-width: 768px) {
  /* Estilos pantalla de productos */

  .itemWrapContainer {
    grid-template-columns: auto auto auto;
    padding: 8px;
    gap: 8px 16px;
  }

  .itemWrapContainerImage {
    grid-template-columns: repeat(2, 25%) auto auto;
    grid-template-rows: repeat(3, 1fr);
    padding: 8px;
    gap: 8px 16px;
  }

  .fieldSpanAll {
    grid-column: 2 span;
  }

  /* FINAL Estilos pantalla de productos */
}

/* Mobile  Normal*/
@media screen and (max-width: 480px) {
  /*Estilos pantalla de productos */

  .itemWrapContainer {
    grid-template-columns: auto auto auto;
    border-radius: 8px;
    padding: 8px;
    gap: 8px 12px;
  }

  .itemWrapContainerImage {
    grid-template-columns: repeat(3, 31%);
    border-radius: 8px;
    padding: 8px;
    gap: 8px 12px;
  }

  .fieldSpanAll {
    grid-row: 1/-1;
    grid-column: 1/-1;
  }
  /* FINAL Estilos pantalla de productos */
}
/* Mobile  Small*/
@media screen and (max-width: 320px) {
  /**/
}
